<h4>Finances</h4>
<br>
<div class="row">
  <div class="col-md-12">
    <center><h5>Search by Date</h5></center>

    <%= form_with url: "", method: :get do |form| %>
    <center>

      <div class="row">
        <div class="col-md-4">
          <%= form.date_field :datefrom, class:'form-control', required:'true', style:"text-align:center; margin-top:15px;", autocomplete:"off"%>
        </div>
        <div class="col-md-4">
          <%= form.date_field :dateto, class:'form-control', required:'true', style:"text-align:center; margin-top:15px;", autocomplete:"off"%>
        </div>
        <div class="col-md-4">
          <%= form.select :datetype, ["Created At"], {}, class:"form-control", style:"margin-top:15px;", placeholder:"datetype", autocomplete:"off"   %>
        </div>
      </div>
      <br>

      <%= form.submit "Load Assignment Data", class:"btn btn-primary" %>
    </center>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="informationbox3">
      <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_finance %></h4>
      <h6 class="textbox2">Unsynced Finance</h6>
      <% if @unsync_finance!=0 %>
        <%= link_to "Sync All", sync_all_finances_url, class:"btn btn-dark", style:"float:right; margin-right:20px; margin-top: 25px" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<% if params[:datefrom].nil? %>
  <h5>Finance Created within 30 Days</h5>
<% elsif %>
  <h5>Finance Created between <%= params[:datefrom] %> - <%= params[:dateto] %></h5>
<% end %>
<br>
<%= link_to 'New Finance', new_finance_path, class:"btn btn-primary" %>
<br>
<br>

<div class="table-responsive">
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th>#</th>
        <th>Uid</th>
        <th>Customer</th>
        <th>Total billing</th>
        <th>Payment date</th>
        <th>Payment document</th>
        <th>Created At</th>
        <th>Created By</th>
        <th style="width:1px;"></th>
        <th style="width:1px;"></th>
      </tr>
    </thead>

    <% counter = 0 %>
    <tbody>
      <% @finances.each do |finance| %>
        <tr>
          <td><%= counter = counter + 1 %></td>
          <td><%= finance.uid %></td>
          <td style="white-space:nowrap">
            <% @counter = 0; %>
            <% @selected_assignments = Assignment.select("customer_id").where("finance_reference = ?",finance.id).group("customer_id") %>
            <% @selected_assignments.each do |a| %>
              <% if @counter>0 %>
                <br>
              <% end %>
              <%= Customer.find(a.customer_id).name %>
              <% @counter = @counter + 1 %>
            <% end %>
          </td>
          <td><%= number_with_delimiter(finance.total_billing) %></td>

          <% if finance.payment_date.nil? %>
            <td>-</td>
          <% else %>
            <td><%= finance.payment_date.to_s(:long) %></td>
          <% end %>
          
          <% if finance.payment_document.url.nil? %>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>
            <% if finance.payment_document.file.exists? %>
              <td>
                <%= link_to 'ðŸ“ Download', finance.payment_document.url, class:"btn btn-dark btn-sm" %>
              </td>
            <% else %>
              <td style="color:red"><strong>Error</strong></td>
            <% end %>
          <% end %>
          <td><%= finance.created_at.in_time_zone("Jakarta").to_s(:long) %></td>
          <td>
            <% if finance.user_id !=0 && !finance.user_id.nil? %>
              <font style="text-transform: capitalize;"><%= User.find(finance.user_id).name %></font>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if !finance.payment_date.nil? %>
              <%= link_to 'Undo', undo_payment_finance_path(finance), class:"btn", style:"background-color:#d30000 !important; color:white" %>
            <% end %>
          </td>
          <td style="white-space:nowrap">
            <div class="form-group" style="display: inline-block;">
              <form action="http://localhost/sendemail/" method="POST" target="_blank">
                <input type="hidden" name="invoicenumber" value="<%= finance.uid %>">
                <!-- <input type="submit" class="btn btn-dark" value="Send to Email"> -->
              </form>
            </div>
            <%= link_to 'Update Payment', finance, class:"btn btn-success", "data-toggle" => "modal", 'data-target' => '#duplicateModal'+finance.id.to_s %>

            <!-- Modal -->
            <div id="duplicateModal<%= finance.id.to_s %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Payment Form - <%= finance.uid.to_s %></h6>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <%= render 'paymentform', finance: finance %>
                      <br>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <%= link_to 'Invoice', document_invoice_finance_path(finance), class:"btn btn-primary", target:"_blank" %>
            <%= link_to 'Assignment List', edit_finance_path(finance), class:"btn btn-info" %>

            <% if finance.payment_date.nil? %>
              <%= link_to 'X', finance, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            <% end %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
