<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #001440;">
    <%= link_to "JSTrans", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Shipment", shipments_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Container", containers_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Assignment FCL", assignments_url(:loadtype => '1'), class:"nav-link" %>
            </li>
            <!-- <li class="nav-item">
              <%= link_to "Assignment LCL", assignments_url(:loadtype => '2'), class:"nav-link" %>
            </li> -->
            <li class="nav-item">
              <%= link_to "Customer", customers_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Agent", agents_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Location", locations_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Finance", finances_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tax report", document_tax_report_finances_path, class:"nav-link", target:"_blank" %>
            </li>
            <li class="nav-item">
              <%= link_to "User", users_url, class:"nav-link" %>
            </li>
        </ul>
        <ul class="navbar-nav">
            <span class="navbar-text" style="color:white; margin-right: 25px;">
              Hello, <strong><font style="text-transform: capitalize;"><%= User.find(current_user.id).name %></font></strong>
            </span>
            <li class="nav-item">
              <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
        </ul>
    </div>
</nav>

