<h4>Shipment Ready to Depart Past ETD (<%= @shipments.count %>)</h4>

<br>
<div class="table-responsive table-wrap">
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th style="width:15%;">UID</th>
        <th>Shipname</th>
        <th>Voyage</th>
        <th>Created</th>
        <th>Estimated Departure</th>
        <th>POL</th>
        <th>POD</th>
        <th>Total Container</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.uid %></td>
          <td><%= shipment.shipname %></td>
          <td><%= shipment.voyage %></td>
          <td><%= shipment.created_at.in_time_zone("Jakarta").to_s(:long) %></td>
          <td>
          <% if !shipment.estimateddeparture.nil? %>
            <%= shipment.estimateddeparture.to_s(:long)  %>
          <% end %>
          </td>
          <td><%= Location.find(shipment.pol).name %></td>
          <td><%= Location.find(shipment.pod).name %></td>
          <td><%= Container.where("shipment_id = ?",shipment.id).count %></td>
          <td style="width:5%; white-space:nowrap">
            <%= link_to 'Depart', depart_shipment_url(shipment), class:"btn btn-success" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>

<h4>Assignment with Price Adjustment in last 10 days (<%= @adjustedassignments.count %>)</h4>
<br>
<div class="table-responsive table-wrap">
  <table class="table">
    <thead>
      <tr>
        <th>UID</th>
        <th>Shipname</th>
        <th>Pickup Agent</th>
        <th>Dooring Agent</th>
        <th>Customer</th>
        <th>Container</th>
        <th>POL - POD</th>
        <th>Pickup Date</th>
        <th>Total Price</th>
        <th>Price Adjustment</th>
        <th>PPN(1.1%)</th>
        <th>Grand Total</th>
      </tr>
    </thead>

    <tbody>
      <% @adjustedassignments.each do |assignment| %>
          <tr>
            <td><%= assignment.uid %></td>
            <% if assignment.container_id.nil? || Container.find(assignment.container_id).shipment_id.nil? || Container.find(assignment.container_id).shipment_id==0 %>
              <td>-</td>
            <% else %>
              <td><%= Shipment.find(Container.find(assignment.container_id).shipment_id).shipname %> <%= Shipment.find(Container.find(assignment.container_id).shipment_id).voyage %></td>
            <% end %>
            <td><%= assignment.agent.name %></td>
            <% if assignment.dooring_agent_id.nil? %>
              <td>-</td>
            <% else %>
              <td><%= Agent.find(assignment.dooring_agent_id).name %></td>
            <% end %>
            <td><%= assignment.customer.name %></td>
            <% if assignment.container_id.nil? %>
              <td><%= assignment.container_id %></td>
            <% else %>
              <td><%= Container.find(assignment.container_id).number %></td>
            <% end %>

            <% if !assignment.pickup_location.nil? && !assignment.destination_location.nil? %>
            <td>
              <% if CustomerLocation.where("id = ?",assignment.pickup_location).count > 0 %>
                <%= Location.find(CustomerLocation.find(assignment.pickup_location).location_id).name %>
              <% else %>
                <font style="font-style: italic; color:red">[Deleted Location]</font>
              <% end %>
               - 
              <% if CustomerLocation.where("id = ?",assignment.destination_location).count > 0 %>
                <%= Location.find(CustomerLocation.find(assignment.destination_location).location_id).name %>
              <% else %>
                <font style="font-style: italic; color:red">[Deleted Location]</font>
              <% end %>
            </td>
            <% elsif %>
              <td>-</td>
            <% end %>

            <td><%= assignment.pickuptime.to_date.to_s(:long) %></td>
            <td><%= number_with_delimiter(assignment.total_price) %></td>
            <td><%= number_with_delimiter(assignment.price_adjustment) %></td>
            <td><%= number_with_delimiter(assignment.ppn) %></td>
            <td><%= number_with_delimiter(assignment.grand_total) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<br>

<% @total_unpaid = 0 %>
<% @assignments.each do |assignment| %>
  <% if !assignment.container_id.nil? && !Container.find(assignment.container_id).shipment_id.nil? && Container.find(assignment.container_id).shipment_id != 0 %>
      <% @total_unpaid = @total_unpaid + assignment.grand_total %>
  <% end %>
<% end %>

<h4>Unpaid Assignment with ETD +30 Days <font style="color:red">(Rp. <%= number_with_delimiter(@total_unpaid) %>,-)</font></h4>
<%= link_to 'View Assignment', dashboard_unpaid_assignment_list_path, class:"btn btn-primary", target:"_blank", style:"margin-top:10px;" %>
<br>
<br>
<br>


<h4>Total Customer Transaction </h4>
<h5>Assignment with Ship ETD <strong><%= @beginning.to_date.to_s(:long) %> - <%= @ending.to_date.to_s(:long) %></strong></h5>
<div class="row" style="margin-top: 15px;">
  <div class="col-md-6">
  <h5 style="margin-bottom: 15px;"><strong>with PPN(1.1%)</strong></h5>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead style="color: white;background-color: #003478;">
          <tr>
            <th>Customer</th>
            <th>Grand Total</th>
          </tr>
        </thead>
        <tbody>
          <% @customer_transaction_ppn.each do |assignment| %>
            <tr>
              <td><%= Customer.find(assignment.customer_id).name %></td>
              <% if assignment.transaction_total == "" %>
                <td>0</td>  
              <% else %>
                <td><%= number_with_delimiter(assignment.transaction_total) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h5 style="margin-bottom: 15px;"><strong>No PPN</strong></h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead style="color: white;background-color: #003478;">
            <tr>
              <th>Customer</th>
              <th>Grand Total</th>
            </tr>
          </thead>
          <tbody>
            <% @customer_transaction_noppn.each do |assignment| %>
              <tr>
                <td><%= Customer.find(assignment.customer_id).name %></td>
                <% if assignment.transaction_total == "" %>
                  <td>0</td>  
                <% else %>
                  <td><%= number_with_delimiter(assignment.transaction_total) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>