<%= form_with(model: customer_location) do |form| %>
  <% if customer_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_location.errors.count, "error") %> prohibited this customer_location from being saved:</h2>

      <ul>
        <% customer_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :customer_id, class:"form-control", placeholder:"Customer ID", hidden:"true", value:params[:customerid] %>
  </div>

  <div class="field form-group">
    <%= form.text_field :address, class:"form-control", placeholder:"Address", autocomplete:"off", autofocus:"true", required:"true" %>
  </div>

  <br>
  <div class="field form-group">
    <%= form.label :location_id, "POD" %>
    <%= form.collection_select :location_id, Location.where("active = 1"), :id, :name, {}, {class:"form-control"} %>
  </div>

  <br>
  <div class="field form-group">
    <%= form.text_field :active, class:"form-control", placeholder:"Active", value:"1", readonly:"true"  %>
  </div>

  <div class="field form-group">
    <%= form.text_area :description, class:"form-control", placeholder:"Description", autocomplete:"off" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
