<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if !params[:id].nil? %>

    <div class="field form-group">
      <%= form.text_field :uid, class:"form-control", readonly:"true" %>
    </div>

    <div class="field form-group">
      <%= form.label :loadtype, "Load Type" %>
      <%= form.text_field :loadtype, class:"form-control" ,readonly:"true" %>
    </div>

    <div class="field form-group">
      <%= form.label :containertype, "Container Type" %>
      <%= form.select :containertype, ["20FT","20FR","20OD","21FT","40FT","40FR"], {}, {class:"form-control", :disabled => "true"} %>
    </div>

    <div class="field form-group">
      <%= form.label :agent_id, "Pickup Agent" %>
      <%= form.collection_select :agent_id, Agent.where("active = 1 AND pickupordooring = 'Pickup'").order("name ASC"), :id, :name, {}, {class:"form-control", :disabled => "true"} %>
    </div>

    <div class="field form-group">
      <label>Dooring Agent</label>
      <input type="text" class="form-control" readonly="true" value="<%= Agent.find(@assignment.dooring_agent_id).name %>">
    </div>

    <div class="field form-group">
      <%= form.label :customer %>
      <%= form.collection_select :customer_id, Customer.where("active = 1").order("name ASC"), :id, :name, {}, {class:"form-control", :disabled => "true"} %>
    </div>
    
    <div class="field form-group">
      <%= form.label :pickuptime, "Pickup Time" %>
      <%= form.date_field :pickuptime, class:'form-control', required:'true', readonly:"true" %>
    </div>

    <% if (Assignment.find(params[:id]).container_id.nil? && Assignment.find(params[:id]).loadtype == "Full Container Load") || (AssignmentDetail.where("assignment_id = ?", params[:id]).count == 0 && Assignment.find(params[:id]).loadtype == "Less Container Load") %>
      <div class="field form-group">
        <%= form.label :pickup_location %>
        <%= form.collection_select :pickup_location, CustomerLocation.where("customer_id = ? AND pickup_or_dooring = 'Pickup'", params[:customer_id]).order("address ASC"), :id, :name_with_initial, {}, {class:"form-control"} %>
      </div>

      <div class="field form-group">
        <%= form.label :destination_location %>
        <%= form.collection_select :destination_location, CustomerLocation.where("customer_id = ? AND pickup_or_dooring = 'Dooring'", params[:customer_id]).order("address ASC"), :id, :name_with_initial, {}, {class:"form-control"} %>
      </div>
    <% else %>
      <div class="field form-group">
        <%= form.label :pickup_location %>
        <%= form.collection_select :pickup_location, CustomerLocation.where("customer_id = ? AND pickup_or_dooring = 'Pickup'", params[:customer_id]).order("address ASC"), :id, :name_with_initial, {}, {class:"form-control", disabled:true} %>
      </div>

      <div class="field form-group">
        <%= form.label :destination_location %>
        <%= form.collection_select :destination_location, CustomerLocation.where("customer_id = ? AND pickup_or_dooring = 'Dooring'", params[:customer_id]).order("address ASC"), :id, :name_with_initial, {}, {class:"form-control", disabled:true} %>
      </div>
    <% end %>
  <% elsif %>

  <div class="field form-group">
      <%= form.text_field :uid, class:"form-control" , value: 'ASG'+Time.now.to_i.to_s, readonly:"true" %>
    </div>

    <div class="field form-group">
      <%= form.label :loadtype, "Load Type" %>
      <% if params[:loadtype].nil? || params[:loadtype]=='1' %>
        <%= form.select :loadtype, ["Full Container Load","Less Container Load"], {}, class:"form-control", placeholder:"Load Type", autocomplete:"off"   %>
      <% else %>
        <%= form.select :loadtype, ["Full Container Load", "Less Container Load"], {:selected => "Less Container Load"}, class:"form-control", placeholder:"Load Type", autocomplete:"off"   %>
      <% end %>
    </div>

    <div class="field form-group">
      <%= form.label :containertype, "Container Type" %>
      <%= form.select :containertype, ["20FT","20FR","20OD","21FT","40FT","40FR"], {}, class:"form-control", placeholder:"Load Type", autocomplete:"off"   %>
    </div>

    <div class="field form-group">
      <%= form.label :agent_id, "Pickup Agent" %>
      <%= form.collection_select :agent_id, Agent.where("active = 1 AND pickupordooring = 'Pickup'").order("name ASC"), :id, :name, {}, {class:"form-control"} %>
    </div>

    <div class="field form-group">
      <%= form.label :dooring_agent_id, "Pickup Agent" %>
      <%= form.collection_select :dooring_agent_id, Agent.where("active = 1 AND pickupordooring = 'Dooring'").order("name ASC"), :id, :name, {}, {class:"form-control"} %>
    </div>

    <div class="field form-group">
      <%= form.label :customer %>
      <%= form.collection_select :customer_id, Customer.where("active = 1").order("name ASC"), :id, :name, {}, {class:"form-control"} %>
    </div>
    
    <div class="field form-group">
      <%= form.label :pickuptime, "Pickup Time" %>
      <%= form.date_field :pickuptime, class:'form-control', required:'true' %>
    </div>

  <% end %>

  <div class="field form-group">
    <%= form.label :document_status, "Travel Document" %>
    <br>
    <%= form.file_field :document_status %>
  </div>

  <div class="field form-group">
    <%= form.label :payment_status, "Payment Document" %>
    <br>
    <%= form.file_field :payment_status %>
  </div>

  <div class="field">
    <%= form.number_field :active, type:"hidden", value:'1', hidden:"true" %>
  </div>

  <br>

  <% if !params[:id].nil? %>
    <% if (Assignment.find(params[:id]).container_id.nil? && Assignment.find(params[:id]).loadtype == "Full Container Load") || (AssignmentDetail.where("assignment_id = ?", params[:id]).count == 0 && Assignment.find(params[:id]).loadtype == "Less Container Load") %>
      <div class="actions">
        <%= form.submit class:"btn btn-primary" %>
        <br>
      </div>
    <% end %>
  <% else %>
    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
      <br>
    </div>
  <% end %>
<% end %>
