<% if (params[:loadtype]=='1' || params[:loadtype].nil?) %>

<h4>Full Container Load Assignments</h4>
<br>
<div class="row">
  <div class="col-md-12">
    <center><h5>Search by Date</h5></center>

    <%= form_with url: "", method: :get do |form| %>
    <center>

      <div class="row">
        <div class="col-md-4">
          <%= form.date_field :datefrom, class:'form-control', required:'true', style:"text-align:center; margin-top:15px;", autocomplete:"off"%>
        </div>
        <div class="col-md-4">
          <%= form.date_field :dateto, class:'form-control', required:'true', style:"text-align:center; margin-top:15px;", autocomplete:"off"%>
        </div>
        <div class="col-md-4">
          <%= form.select :datetype, ["Pickup Date"], {}, class:"form-control", style:"margin-top:15px;", placeholder:"datetype", autocomplete:"off"   %>
        </div>
      </div>
      <br>

      <%= form.submit "Load Assignment Data", class:"btn btn-primary" %>
    </center>
    <% end %>
  </div>
</div>

<br>
<br>
<% if @unsync_assignment!=-1 %>
  <div class="row">
    <div class="col-md-3">
      <div class="informationbox3">
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_assignmentsfcl.count %></h4>
        <h6 class="textbox2">Unsynced FCL</h6>
        <% if @unsync_assignmentsfcl.count!=0 %>
          <%= link_to "Sync All", sync_all_assignment_assignments_url(:loadtype => 1), class:"btn btn-dark", style:"float:right; margin-right:20px; margin-top: 25px" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="informationbox3">
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_assignment %></h4>
        <h6 class="textbox2">Unfetched Document</h6>
        <% if @unsync_assignment!=0 %>
          <%= link_to "Fetch All", fetch_all_document_assignments_url(:loadtype => 1), class:"btn btn-dark", style:"float:right; margin-right:20px; margin-top: 25px" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-3">
      <div class="informationbox3">
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_assignmentsfcl.count %></h4>
        <h6 class="textbox2">Unsynced FCL</h6>
      </div>
    </div>
    <div class="col-md-3">
      <div class="informationbox3">
        <h5 class="textbox2" style="margin-bottom: 38px;color: red;">No Internet Connection</h5>
        <h6 class="textbox2">Unfetched Document</h6>
      </div>
    </div>
  </div>
<% end %>
<br>
<br>

<% if params[:datefrom].nil? %>
  <h5>Assignment Pickup Date within 30 Days</h5>
<% elsif %>
  <h5>Assignment Pickup Date between <%= params[:datefrom] %> - <%= params[:dateto] %></h5>
<% end %>
<br>
<%= link_to 'New Assignment',  new_assignment_path(:loadtype => 1), class:"btn btn-primary" %>

<br>
<br>

<div class="table-responsive table-wrap">
  <table class="table" id="fcldatatable">
    <thead>
      <tr>
        <th>#</th>
        <th>UID</th>
        <th>Shipname</th>
        <th>Pickup Agent</th>
        <th>Dooring Agent</th>
        <th>Customer</th>
        <th>Container</th>
        <th>Pickup Address</th>
        <th>POL - POD</th>
        <th>Pickuptime</th>
        <th>Load Type</th>
        <th>Total Product</th>
        <th>Total Price</th>
        <th>Price Adjustment</th>
        <th>PPN(1.1%)</th>
        <th>Grand Total</th>
        <th>Status</th>
        <th>Web Travel Document</th>
        <th>Web Dooring Document</th>
        <!-- <th>Web Payment Document</th> -->
        <th>Travel Document</th>
        <th>Dooring Document</th>
        <!-- <th>Payment Document</th> -->
        <th>Invoice</th>
        <th>Created By</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% counter = 0 %>

    <tbody>
      <% @assignmentsfcl.each do |assignment| %>

        <tr>
          <td><%= counter = counter + 1; %></td>
          <td><%= assignment.uid %></td>
          <% if assignment.container_id.nil? || Container.find(assignment.container_id).shipment_id.nil? || Container.find(assignment.container_id).shipment_id == 0 %>
            <td>-</td>
          <% else %>
            <td><%= Shipment.find(Container.find(assignment.container_id).shipment_id).shipname %> <%= Shipment.find(Container.find(assignment.container_id).shipment_id).voyage %></td>
          <% end %>
          <td><%= assignment.agent.name %></td>
          <% if assignment.dooring_agent_id.nil? %>
            <td>-</td>
          <% else %>
            <td><%= Agent.find(assignment.dooring_agent_id).name %></td>
          <% end %>
          <td><%= assignment.customer.name %></td>
          <% if assignment.container_id.nil? %>
            <td><%= assignment.container_id %></td>
          <% else %>
            <td><%= Container.find(assignment.container_id).number %></td>
          <% end %>
          <% if !assignment.pickup_location.nil? %>
            <% if CustomerLocation.where("id = ?",assignment.pickup_location).count > 0 %>
              <td><%= CustomerLocation.find(assignment.pickup_location).address %></td>
            <% elsif %>
              <td>-</td>
            <% end %>
          <% else %>
            <td><i>Deleted Address</i></td>
          <% end %>

          <% if !assignment.pickup_location.nil? && !assignment.destination_location.nil? %>
            <td>
              <% if CustomerLocation.where("id = ?",assignment.pickup_location).count > 0 %>
                <%= Location.find(CustomerLocation.find(assignment.pickup_location).location_id).name %>
              <% else %>
                <font style="font-style: italic; color:red">[Deleted Location]</font>
              <% end %>
               - 
              <% if CustomerLocation.where("id = ?",assignment.destination_location).count > 0 %>
                <%= Location.find(CustomerLocation.find(assignment.destination_location).location_id).name %>
              <% else %>
                <font style="font-style: italic; color:red">[Deleted Location]</font>
              <% end %>
            </td>
          <% elsif %>
            <td>-</td>
          <% end %>

          <td><%= assignment.pickuptime.strftime("%Y-%m-%d") %> (<%= assignment.pickuptime.to_date.to_s(:long) %>)</td>
          <td><%= assignment.loadtype %></td>
          <td><%= number_with_delimiter(AssignmentDetail.where("assignment_id = ?", assignment.id).count) %></td>
          <td><%= number_with_delimiter(assignment.total_price) %></td>
          <td><%= number_with_delimiter(assignment.price_adjustment) %></td>
          <td><%= number_with_delimiter(assignment.ppn) %></td>
          <td><%= number_with_delimiter(assignment.grand_total) %></td>
          
          <% if assignment.status==0 %>
            <td style="color:red"><strong>Booked</strong></td>
          <% elsif assignment.status==1 %>
            <td style="color:#fa8602"><strong>Picked Up</strong></td>
          <% elsif assignment.status==2 %>
            <td style="color:blue"><strong>Doored</strong></td>
          <% elsif assignment.status==3 %>
            <td style="color:green"><strong>Paid</strong></td>
          <% end %>

          <% if assignment.document_web_path.nil? || assignment.document_web_path == ""%>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>              
            <td>
              <%= link_to 'View', assignment.document_web_path, target: "_blank", class:"btn btn-info btn-block" %>
            </td>
          <% end %>
          <% if assignment.dooring_web_path.nil? || assignment.dooring_web_path == ""%>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>              
            <td>
              <%= link_to 'View', assignment.dooring_web_path, target: "_blank", class:"btn btn-info btn-block" %>
            </td>
          <% end %>
          <% if assignment.document_status.url.nil? %>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>
            <% if assignment.document_status.file.exists? %>
              <td>
                <%= link_to 'ðŸ“ Download', assignment.document_status.url, class:"btn btn-dark btn-sm" %>
              </td>
            <% else %>
              <td style="color:red"><strong>Error</strong></td>
            <% end %>
          <% end %>

          <% if assignment.dooring_status.url.nil? %>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>
            <% if assignment.dooring_status.file.exists? %>
              <td>
                <%= link_to 'ðŸ“ Download', assignment.dooring_status.url, class:"btn btn-dark btn-sm" %>
              </td>
            <% else %>
              <td style="color:red"><strong>Error</strong></td>
            <% end %>
          <% end %>

          <% if assignment.finance_reference.nil? || assignment.finance_reference==0 %>
            <td style="color:red"><strong>Not Yet Generated</strong></td>
          <% elsif %>
            <% if Finance.find(assignment.finance_reference).payment_date.nil? %>
              <td style="color:orange;"><strong>Waiting for Payment #<%= Finance.find(assignment.finance_reference).uid %></strong></td>
            <% else %>
              <td style="color:green"><strong>Paid #<%= Finance.find(assignment.finance_reference).uid %></strong></td>
            <% end %>
          <% end %>

          <td>
            <% if assignment.user_id !=0 && !assignment.user_id.nil? %>
              <font style="text-transform: capitalize;"><%= User.find(assignment.user_id).name %></font>
            <% else %>
              -
            <% end %>
          </td>
          
          <td style="width:5%; white-space: nowrap;">
            <% if assignment.sync_at.nil? || (assignment.sync_at < assignment.edited_at) %>
              <%= link_to 'Sync', sync_assignment_assignment_url(assignment, :loadtype => params[:loadtype]), class:"btn btn-dark" %>
            <% end %>
          </td>
          
          <td style="width:5%; white-space: nowrap;">
            <!-- style:"background-color:#E3F2FD;color:#003478" -->
            <%= link_to 'Duplicate', duplicate_assignments_path(:loadtype => params[:loadtype]), class:"btn btn-primary", "data-toggle" => "modal", 'data-target' => '#duplicateModal'+assignment.id.to_s %>
            
            <!-- Modal -->
            <div id="duplicateModal<%= assignment.id.to_s %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Duplication Form - <%= assignment.uid.to_s %></h6>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <%= form_with url: duplicate_assignments_path, method: :get do |form| %>
                        <div class="row">
                          <%= form.label :duplication, "Quantity" %>
                          <%= form.text_field :duplication, class:"form-control", autocomplete:"off", autofocus:"true" %> 
                          <%= form.hidden_field :loadtype, value:params[:loadtype] %> 
                          <%= form.hidden_field :id, value:assignment.id.to_s %> 
                        </div>
                        <br>
                    </div>
                  </div>
                  <div class="modal-footer">
                        <%= form.submit "Duplicate", class:"btn btn-primary" %>
                      <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <%= link_to 'Price Adjustment', price_adjustment_assignments_path(assignment, :loadtype => params[:loadtype]), class:"btn btn-secondary", "data-toggle" => "modal", 'data-target' => '#adjustmentModal'+assignment.id.to_s %>

            <!-- Modal -->
            <div id="adjustmentModal<%= assignment.id.to_s %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Price Adjustment Form - <%= assignment.uid.to_s %></h6>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <%= form_with url: price_adjustment_assignments_path, method: :get do |form| %>
                        <div class="row">
                          <%= form.label :total_price, "Total Price" %>
                          <%= form.text_field :total_price, class:"form-control", autocomplete:"off", autofocus:"true", value: assignment.total_price, readonly:"true" %> 
                        </div>
                        <br>
                        <div class="row">
                          <%= form.label :price_adjustment, "Price Adjustment" %>
                          <%= form.text_field :price_adjustment, class:"form-control", autocomplete:"off", autofocus:"true", value: assignment.price_adjustment %> 
                        </div>
                        <br>
                        <div class="row">
                          <%= form.label :ppn, "PPN Category" %>
                          <% if assignment.ppn == 0 %>
                            <%= form.text_field :ppncategory, class:"form-control", value: "Non PPN", readonly:"true" %> 
                          <% else %>
                            <%= form.text_field :ppncategory, class:"form-control", value: "PPN(1.1%)", readonly:"true" %>
                          <% end %>
                        </div>
                        <br>
                        <%= form.hidden_field :ppn, value: assignment.ppn %> 
                        <%= form.hidden_field :loadtype, value:params[:loadtype] %> 
                        <%= form.hidden_field :id, value:assignment.id.to_s %>                         
                    </div>
                  </div>
                  <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm" value="Update">
                      <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <% #link_to 'Invoice', document_invoice_assignment_url(assignment), class:"btn btn-primary", target:"_blank" %>
            <%= link_to 'Product List', assignment_details_url(:id => assignment, :cid => assignment.customer_id), class:"btn btn-success", style:"white-space:nowrap;" %>
            <%= link_to 'Edit', edit_assignment_path(assignment, :customer_id => assignment.customer_id), class:"btn btn-info" %>
            <%= link_to 'X', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% elsif (params[:loadtype]=='2') %>
<h4>Less Container Load Assignments</h4>

<% if @unsync_assignment!=-1 %>
  <div class="row">
    <div class="col-md-3">
      <div class="informationbox3">
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_assignmentslcl.count %></h4>
        <h6 class="textbox2">Unsynced FCL</h6>
        <% if @unsync_assignmentslcl.count!=0 %>
          <%= link_to "Sync All", sync_all_assignment_assignments_url(:loadtype => 2), class:"btn btn-dark", style:"float:right; margin-right:20px; margin-top: 25px" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="informationbox3">
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_assignment %></h4>
        <h6 class="textbox2">Unfetched Document</h6>
        <% if @unsync_assignment!=0 %>
          <%= link_to "Fetch All", fetch_all_document_assignments_url(:loadtype => 2), class:"btn btn-dark", style:"float:right; margin-right:20px; margin-top: 25px" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-3">
      <div class="informationbox3">
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @unsync_assignmentslcl.count %></h4>
        <h6 class="textbox2">Unsynced FCL</h6>
      </div>
    </div>
    <div class="col-md-3">
      <div class="informationbox3">
        <h5 class="textbox2" style="margin-bottom: 38px;color: red;">No Internet Connection</h5>
        <h6 class="textbox2">Unfetched Document</h6>
      </div>
    </div>
  </div>
<% end %>
<br>
<br>

<%= link_to 'New Assignment', new_assignment_path(:loadtype => 2), class:"btn btn-primary" %>

<br>
<br>


<div class="table-responsive table-wrap">
  <table class="table" id="lcldatatable">
    <thead>
      <tr>
        <th>#</th>
        <th>Uid</th>
        <th>Shipname</th>
        <th>Pickup Agent</th>
        <th>Dooring Agent</th>
        <th>Customer</th>
        <th>Pickup Address</th>
        <th>Destination Address</th>
        <th>POL - POD</th>
        <th>Pickuptime</th>
        <th>Load Type</th>
        <th>Container</th>
        <th>Total Product</th>
        <th>Total Price</th>
        <th>PPN(1.1%)</th>
        <th>Grand Total</th>
        <th>Web Travel Document</th>
        <th>Web Dooring Document</th>
        <th>Web Payment Document</th>
        <th>Travel Document</th>
        <th>Dooring Document</th>
        <th>Payment Document</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% counter = 0 %>

    <tbody>
      <% @assignmentslcl.each do |assignment| %>
        <tr>
          <td><%= counter = counter + 1; %></td>
          <td><%= assignment.uid %></td>
          <% if assignment.container_id.nil? || Container.find(assignment.container_id).shipment_id.nil? %>
            <td>-</td>
          <% else %>
            <td><%= Shipment.find(Container.find(assignment.container_id).shipment_id).shipname %> <%= Shipment.find(Container.find(assignment.container_id).shipment_id).voyage %></td>
          <% end %>
          <td><%= assignment.agent.name %></td>
          <% if assignment.dooring_agent_id.nil? %>
            <td>-</td>
          <% else %>
            <td><%= Agent.find(assignment.dooring_agent_id).name %></td>
          <% end %>
          <td><%= assignment.customer.name %></td>

          <% if !assignment.pickup_location.nil? %>
            <td><%= CustomerLocation.find(assignment.pickup_location).address %></td>
          <% elsif %>
            <td>-</td>
          <% end %>

          <% if !assignment.pickup_location.nil? %>
            <td><%= CustomerLocation.find(assignment.destination_location).address %></td>
          <% elsif %>
            <td>-</td>
          <% end %>

          <% if !assignment.pickup_location.nil? && !assignment.destination_location.nil? %>
            <td><%= Location.find(CustomerLocation.find(assignment.pickup_location).location_id).name+" - "+Location.find(CustomerLocation.find(assignment.destination_location).location_id).name %></td>
          <% elsif %>
            <td>-</td>
          <% end %>

          <td><%= assignment.pickuptime.to_s(:long) %></td>

          <td><%= assignment.loadtype %></td>
          <td><%= assignment.containertype %></td>
          
          <td><%= number_with_delimiter(AssignmentDetail.where("assignment_id = ?", assignment.id).count) %></td>

          <td><%= number_with_delimiter(assignment.total_price) %></td>
          <td><%= number_with_delimiter(assignment.ppn) %></td>
          <td><%= number_with_delimiter(assignment.grand_total) %></td>
          
          <% if assignment.document_web_path.nil? || assignment.document_web_path == ""%>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>              
            <td>
              <%= link_to 'View', assignment.document_web_path, target: "_blank", class:"btn btn-info btn-block" %>
            </td>
          <% end %>
          <% if assignment.dooring_web_path.nil? || assignment.dooring_web_path == ""%>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>              
            <td>
              <%= link_to 'View', assignment.dooring_web_path, target: "_blank", class:"btn btn-info btn-block" %>
            </td>
          <% end %>
          <% if assignment.payment_web_path.nil? || assignment.payment_web_path == ""%>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>              
            <td>
              <%= link_to 'View', assignment.payment_web_path, target: "_blank", class:"btn btn-info btn-block" %>
            </td>
          <% end %>

          <% if assignment.document_status.url.nil? %>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>
            <% if assignment.document_status.file.exists? %>
              <td>
                <%= link_to 'ðŸ“ Download', assignment.document_status.url, class:"btn btn-dark btn-sm" %>
              </td>
            <% else %>
              <td style="color:red"><strong>Error</strong></td>
            <% end %>
          <% end %>

          <% if assignment.dooring_status.url.nil? %>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>
            <% if assignment.dooring_status.file.exists? %>
              <td>
                <%= link_to 'ðŸ“ Download', assignment.dooring_status.url, class:"btn btn-dark btn-sm" %>
              </td>
            <% else %>
              <td style="color:red"><strong>Error</strong></td>
            <% end %>
          <% end %>

          <% if assignment.payment_status.url.nil? %>
            <td style="color:red"><strong>Not Uploaded</strong></td>
          <% elsif %>
            <% if assignment.payment_status.file.exists? %>
              <td>
                <%= link_to 'ðŸ“ Download', assignment.payment_status.url, class:"btn btn-dark btn-sm" %>
              </td>
            <% else %>
              <td style="color:red"><strong>Error</strong></td>
            <% end %>
          <% end %>

          <td style="width:5%; white-space: nowrap;">
            <% if assignment.sync_at.nil? || (assignment.sync_at < assignment.edited_at) %>
              <%= link_to 'Sync', sync_assignment_assignment_url(assignment, :loadtype => params[:loadtype]), class:"btn btn-dark" %>
            <% end %>
          </td>
          
          <td style="width:5%; white-space: nowrap;">
            <%= link_to 'Duplicate', duplicate_assignments_path(:loadtype => params[:loadtype]), class:"btn", style:"background-color:#E3F2FD;color:#003478", "data-toggle" => "modal", 'data-target' => '#duplicateModal'+assignment.id.to_s %>
            
            <!-- Modal -->
            <div id="duplicateModal<%= assignment.id.to_s %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Duplication Form - <%= assignment.uid.to_s %></h6>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <%= form_with url: duplicate_assignments_path, method: :get do |form| %>
                        <div class="row">
                          <%= form.label :duplication, "Quantity" %>
                          <%= form.text_field :duplication, class:"form-control", autocomplete:"off", autofocus:"true" %> 
                          <%= form.hidden_field :loadtype, value:params[:loadtype] %> 
                          <%= form.hidden_field :id, value:assignment.id.to_s %> 
                        </div>
                        <br>
                    </div>
                  </div>
                  <div class="modal-footer">
                        <%= form.submit "Duplicate", class:"btn btn-primary" %>
                      <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <%= link_to 'Price Adjustment', price_adjustment_assignments_path(assignment, :loadtype => params[:loadtype]), class:"btn btn-secondary", "data-toggle" => "modal", 'data-target' => '#adjustmentModal'+assignment.id.to_s %>

            <!-- Modal -->
            <div id="adjustmentModal<%= assignment.id.to_s %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Price Adjustment Form - <%= assignment.uid.to_s %></h6>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <%= form_with url: price_adjustment_assignments_path, method: :get do |form| %>
                        <div class="row">
                          <%= form.label :total_price, "Total Price" %>
                          <%= form.text_field :total_price, class:"form-control", autocomplete:"off", autofocus:"true", value: assignment.total_price, readonly:"true" %> 
                        </div>
                        <br>
                        <div class="row">
                          <%= form.label :price_adjustment, "Price Adjustment" %>
                          <%= form.text_field :price_adjustment, class:"form-control", autocomplete:"off", autofocus:"true", value: assignment.price_adjustment %> 
                        </div>
                        <br>
                        <div class="row">
                          <%= form.label :ppn, "PPN Category" %>
                          <% if assignment.ppn == 0 %>
                            <%= form.text_field :ppncategory, class:"form-control", value: "Non PPN", readonly:"true" %> 
                          <% else %>
                            <%= form.text_field :ppncategory, class:"form-control", value: "PPN(1.1%)", readonly:"true" %>
                          <% end %>
                        </div>
                        <br>
                        <%= form.hidden_field :ppn, value: assignment.ppn %> 
                        <%= form.hidden_field :loadtype, value:params[:loadtype] %> 
                        <%= form.hidden_field :id, value:assignment.id.to_s %>                         
                    </div>
                  </div>
                  <div class="modal-footer">
                        <%= form.submit "Update Data", class:"btn btn-primary" %>
                      <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <%= link_to 'Invoice', document_invoice_assignment_url(assignment), class:"btn btn-primary", target:"_blank" %>
            <%= link_to 'Product List', assignment_details_url(:id => assignment, :cid => assignment.customer_id), class:"btn btn-success", style:"white-space:nowrap;" %>
            <%= link_to 'Edit', edit_assignment_path(assignment, :customer_id => assignment.customer_id), class:"btn btn-info" %>
            <%= link_to 'X', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </td>
        </tr>


      <% end %>
    </tbody>
  </table>
</div>

<br>
<% end %>

