<p id="notice"><%= notice %></p>

<p>
  <strong>Per20ft:</strong>
  <%= @customer_location_pricelist.per20ft %>
</p>

<p>
  <strong>Per40ft:</strong>
  <%= @customer_location_pricelist.per40ft %>
</p>

<p>
  <strong>Per20od:</strong>
  <%= @customer_location_pricelist.per20od %>
</p>

<p>
  <strong>Per21ft:</strong>
  <%= @customer_location_pricelist.per21ft %>
</p>

<p>
  <strong>Per20fr:</strong>
  <%= @customer_location_pricelist.per20fr %>
</p>

<p>
  <strong>Per40fr:</strong>
  <%= @customer_location_pricelist.per40fr %>
</p>

<p>
  <strong>Ppncategory:</strong>
  <%= @customer_location_pricelist.ppncategory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @customer_location_pricelist.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer_location_pricelist.description %>
</p>

<p>
  <strong>Customer location from:</strong>
  <%= @customer_location_pricelist.customer_location_from %>
</p>

<p>
  <strong>Customer location to:</strong>
  <%= @customer_location_pricelist.customer_location_to %>
</p>

<%= link_to 'Edit', edit_customer_location_pricelist_path(@customer_location_pricelist) %> |
<%= link_to 'Back', customer_location_pricelists_path %>
