<%= form_with(model: container) do |form| %>
  <% if container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
        <% container.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :number, class:"form-control", placeholder:"Container Number", autocomplete:"off", autofocus:"true", required:"true"  %>
  </div>

  <div class="field form-group">
    <%= form.text_field :sealnumber, class:"form-control", placeholder:"Seal Number", autocomplete:"off", autofocus:"true", required:"true"  %>
  </div>

  <div class="field form-group">
    <%= form.select :size, ["20 FT","40 FT","20 OD","21 FT","20 FR","40 FR"], {}, class:"form-control", placeholder:"Type", autocomplete:"off"   %>
  </div>

  <div class="field form-group">
    <%= form.number_field :active, class:"form-control", placeholder:"Active", value:"1", readonly:"true"  %>
  </div>

  <div class="field form-group">
    <%= form.text_area :description, class:"form-control", placeholder:"Description", autocomplete:"off"  %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
