<h4>Containers</h4>

<br>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Seal Number</th>
      <th>Size</th>
      <th>Active</th>
      <th>Description</th>
      <th colspan="3" style="width:5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.number %></td>
        <td><%= container.sealnumber %></td>
        <td><%= container.size %></td>
        <td><%= container.active %></td>
        <td><%= container.description %></td>
        <td><%= link_to 'Show', container, class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_container_path(container), class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Container', new_container_path, class:"btn btn-primary" %>
