<h4>Containers</h4>

<br>

<%= link_to 'New Container', new_container_path, class:"btn btn-primary" %>

<br>
<br>

<div class="table-responsive">
<table class="table" id="myTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Number</th>
      <th>Seal Number</th>
      <th>Shipment</th>
      <th>Total Assignment</th>
      <th>Size</th>
      <th>POL</th>
      <th>POD</th>
      <th></th>
    </tr>
  </thead>

  <% counter = 0 %>
  
  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= counter = counter + 1 %></td>
        <td><%= container.number %></td>
        <td><%= container.sealnumber %></td>
        <td>
        <% if !container.shipment_id.nil? && container.shipment_id != 0 %>
          <%= Shipment.find(container.shipment_id).shipname_with_uid %>   
        <% else %>
          -
        <% end %> 
        </td>
        <td><%= Assignment.where("container_id = ?",container.id).count %></td>
        <td><%= container.size %></td>
        <td><%= Location.find(container.pol).name %></td>
        <td><%= Location.find(container.pod).name %></td>
        <td style="width:5%; white-space:nowrap;">
          <%= link_to 'Assignment List', container, class:"btn btn-success", style:"white-space:nowrap;", style:"white-space:nowrap;" %>
          <%= link_to 'Edit', edit_container_path(container), class:"btn btn-info" %>
          <%= link_to 'X', container, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
