<h4>Customers</h4>

<br>
<%= link_to 'New Customer', new_customer_path, class:"btn btn-primary" %>
<br>
<br>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
      <th>NPWP</th>
      <th>Person Responsible (PR)</th>
      <th>NPWP File</th>
      <th>PR ID File</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.npwp %></td>
        <td><%= customer.person_responsible %></td>
        <% if customer.npwp_file.url.nil? %>
          <td style="color:red"><strong>Not Uploaded</strong></td>
        <% elsif %>
          <% if customer.npwp_file.file.exists? %>
            <td>
              <%= link_to 'ðŸ“ Download', customer.npwp_file.url, class:"btn btn-dark btn-sm" %>
            </td>
          <% else %>
            <td style="color:red"><strong>Error</strong></td>
          <% end %>
        <% end %>
        <% if customer.person_responsible_file.url.nil? %>
          <td style="color:red"><strong>Not Uploaded</strong></td>
        <% elsif %>
          <% if customer.person_responsible_file.file.exists? %>
            <td>
              <%= link_to 'ðŸ“ Download', customer.person_responsible_file.url, class:"btn btn-dark btn-sm" %>
            </td>
          <% else %>
            <td style="color:red"><strong>Error</strong></td>
          <% end %>
        <% end %>

        <td style="width:5%; white-space: nowrap;">
          <%= link_to 'Detail', customer, class:"btn btn-success" %>
          <%= link_to 'Edit', edit_customer_path(customer), class:"btn btn-info" %>
          <%= link_to 'X', customer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
