<%= form_with(model: assignment_detail) do |form| %>
  <% if assignment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment_detail.errors.count, "error") %> prohibited this assignment_detail from being saved:</h2>

      <ul>
        <% assignment_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3"> 
      <div class="field form-group">
        <%= form.label :description, "Product Detail" %>
        <%= form.text_field :description , class:"form-control", required:"true", autofocus:"true" %>
      </div>
    </div>

    <div class="col-md-3"> 
      <div class="field form-group">
        <%= form.label :customer_product_id, "Product/Category" %>
        <% if Assignment.find(params[:id]).loadtype != "Full Container Load" %>
          <%= form.collection_select :customer_product_id, CustomerProduct.joins("INNER JOIN customer_product_pricelists ON customer_products.id = customer_product_pricelists.customer_product_id").where("customer_products.customer_id = ? AND customer_product_pricelists.expireddate > now() AND customer_product_pricelists.customer_location_id = ? AND customer_product_pricelists.location_id = ?", params[:cid], Assignment.find(params[:id]).pickup_location, CustomerLocation.find(Assignment.find(params[:id]).destination_location).location_id).order("name ASC"), :id, :name, {}, {class:"form-control"} %>
        <% else %>
          <%= form.collection_select :customer_product_id, CustomerProduct.where("customer_id = ?", params[:cid]).order("name ASC"), :id, :name, {}, {class:"form-control"} %>
        <% end %>
      </div>
    </div>

    <div class="col-md-3"> 
      <div class="field form-group">
        <%= form.label :quantity %>
        <%= form.number_field :quantity , class:"form-control", required:"true" %>
      </div>
    </div>

    <div class="col-md-3"> 
      <div class="field form-group">
        <%= form.label :unit %>
        <%= form.select :unit, ["Meter Cubic", "UOM", "Ton"], {}, class:"form-control"  %>
      </div>
    </div>

    <div class="field">
      <%= form.number_field :total, type:"hidden", value:"0" %>
    </div>

    <div class="field">
      <%= form.number_field :assignment_id, type:"hidden", value: params[:id] %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Add Detail", class:"btn btn-primary btn-block" %>
  </div>
<% end %>
