<%= link_to 'Back', assignments_path(:loadtype => @loadtype), class:"btn btn-secondary" %>
<br>
<br>

<div class="row" style="padding: 10px;">
  <div class="col-md-3" style="background-color:#e3e3e3; padding: 20px; border-radius: 5%; margin-bottom: 25px;">
    <h4>Assignment Details</h4>

    <br>
    <table class="table table-borderless">
      <tr>
        <td>UID</td>
        <td>:</td>
        <td><%= @assignment.uid %></td>
      </tr>
      <tr>
        <td>Pickup Agent</td>
        <td>:</td>
        <td><%= @assignment.agent.name %></td>
      </tr>
      <tr>
        <td>Customer</td>
        <td>:</td>
        <td><%= @assignment.customer.name %></td>
      </tr>
      <tr>
        <td>Load Type</td>
        <td>:</td>
        <td><%= @assignment.loadtype %></td>
      </tr>
      <tr>
        <td>Container Type</td>
        <td>:</td>
        <td><%= @assignment.containertype %></td>
      </tr>
      <tr>
        <td>Pickup</td>
        <td>:</td>
        <td><%= CustomerLocation.find(@assignment.pickup_location).address+", "+Location.find(CustomerLocation.find(@assignment.pickup_location).location_id).name %></td>
      </tr>
      <tr>
        <td>Destination</td>
        <td>:</td>
        <td><%= CustomerLocation.find(@assignment.destination_location).address+", "+Location.find(CustomerLocation.find(@assignment.destination_location).location_id).name %></td>
      </tr>
      <tr>
        <td>POL - POD</td>
        <td>:</td>
        <td><%= Location.find(CustomerLocation.find(@assignment.pickup_location).location_id).name+" - "+Location.find(CustomerLocation.find(@assignment.destination_location).location_id).name %></td>
      </tr>
      <tr>
        <td>Pickup Schedule</td>
        <td>:</td>
        <td><%= @assignment.pickuptime.to_s(:long) %></td>
      </tr>
      <tr>
        <td>Document</td>
        <td>:</td>
        <% if @assignment.document_status %>
          <td style="color:red"><strong>Not Uploaded</strong></td>
        <% elsif %>
          <td style="color:green;"><strong>Uploaded</strong></td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="col-md-9" style="margin-bottom: 25px;">
    <h4>Add Product</h4>
    <br>
    <div>
      <%= render 'form', assignment_detail: @assignment_detail %>
    </div>
    <br>
    <br>
    <div class="container-fluid">
    <h4>Product List</h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Detail</th>
            <th>Product/Category</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Unit Desc.</th>
            <th>Total</th>
            <th>PPN(1.1%)</th>
            <th>Grand Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @assignment_details.each do |assignment_detail| %>
            <tr>
              <td><%= assignment_detail.description %></td>
              <td><%= assignment_detail.customer_product.name %></td>
              <td><%= assignment_detail.quantity %></td>
              <td>
                <%= assignment_detail.unit %>
              </td>
              <td>
                <% if assignment_detail.unit != "UOM" %>
                  -
                <% else %>
                  <%= assignment_detail.unit_description %>
                <% end %>
              </td>
              <% if assignment_detail.assignment.loadtype != "Full Container Load" %> 
                <td><%= number_with_delimiter(assignment_detail.total) %></td>
                <td><%= number_with_delimiter(assignment_detail.ppn) %></td>
                <td><%= number_with_delimiter(assignment_detail.grand_total) %></td>
              <% else %>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              <% end %>        
              <td style="width:5%; white-space:nowrap;">
                <%= link_to 'X', assignment_detail, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>

      <!-- Button trigger modal
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        New Assignment Detail
      </button> -->
  </div>
<br>

<!-- Modal
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Assignment Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          //render form
      </div>
    </div>
  </div>
</div> 
-->