<div class="row" style="padding: 10px;">
  <div class="col-md-4" style="background-color:#e3e3e3; padding: 20px; border-radius: 5%; margin-bottom: 25px;">
    <h4>Assignment Details</h4>

    <br>
    <table class="table table-borderless">
      <tr>
        <td>UID</td>
        <td>:</td>
        <td><%= @assignment.uid %></td>
      </tr>
      <tr>
        <td>Pickup Agent</td>
        <td>:</td>
        <td><%= @assignment.agent.name %></td>
      </tr>
      <tr>
        <td>Customer</td>
        <td>:</td>
        <td><%= @assignment.customer.name %></td>
      </tr>
      <tr>
        <td>Pickup</td>
        <td>:</td>
        <td><%= CustomerLocation.find(@assignment.pickup_location).address+", "+Location.find(CustomerLocation.find(@assignment.pickup_location).location_id).name %></td>
      </tr>
      <tr>
        <td>Destination</td>
        <td>:</td>
        <td><%= CustomerLocation.find(@assignment.destination_location).address+", "+Location.find(CustomerLocation.find(@assignment.destination_location).location_id).name %></td>
      </tr>
      <tr>
        <td>POL - POD</td>
        <td>:</td>
        <td><%= Location.find(CustomerLocation.find(@assignment.pickup_location).location_id).name+" - "+Location.find(CustomerLocation.find(@assignment.destination_location).location_id).name %></td>
      </tr>
      <tr>
        <td>Pickup Schedule</td>
        <td>:</td>
        <td><%= @assignment.pickuptime.to_s(:long) %></td>
      </tr>
      <tr>
        <td>Document</td>
        <td>:</td>
        <% if @assignment.document_status %>
          <td style="color:red"><strong>Not Uploaded</strong></td>
        <% elsif %>
          <td style="color:green;"><strong>Uploaded</strong></td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="col-md-8" style="margin-bottom: 25px;">
    <h4>Productlist</h4>
    <br>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Total</th>
          <th colspan="3" style="width:5%;"></th>
        </tr>
      </thead>

      <tbody>
        <% @assignment_details.each do |assignment_detail| %>
          <tr>
            <td><%= assignment_detail.customer_product.name %></td>
            <td><%= assignment_detail.quantity %></td>
            <td><%= assignment_detail.total %></td>
            <td><%= link_to 'X', assignment_detail, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <% if params[:id].nil? %>
      <%= link_to 'New Assignment Detail', new_assignment_detail_path, class:"btn btn-primary" %>
    <% elsif %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        New Assignment Detail
      </button>
    <% end %>
  </div>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Assignment Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', assignment_detail: @assignment_detail %>
      </div>
    </div>
  </div>
</div>