<center>
	<h3><strong><%= @shipment.uid %></strong></h3>
	<h3><%= @shipment.shipname %> <%= @shipment.voyage %></h3>
	<h5>
		<% if @shipment.actualdeparture.nil? %>
			(Not Yet Departed)
		<% else %>
			<%= @shipment.actualdeparture %>
		<% end %>
		 - 
		<% if @shipment.actualarrival.nil? %>
			(Not Yet Arrived)
		<% else %>
			<%= @shipment.actualarrival %>
		<% end %>
	</h5>
</center>

<br>
<br>

<% @containers.each do |container| %>
	<div class="container-fluid">
		<table class="table table-borderless table-sm">
			<tbody>
				<tr>
					<td>Container Number</td>
					<td>: <%= container.number %></td>
				</tr>
				<tr>
					<td>Seal Number</td>
					<td>: <%= container.sealnumber %></td>
				</tr>
			</tbody>
		</table>

		<div class="container-fluid" style="border: 2px solid; border-radius: 15px; padding: 20px;">
			<% if params[:customer_id].nil? %>
				<% @assignments = Assignment.where("container_id = ? AND active = 1", container.id) %>
			<% else %>
				<% @assignments = Assignment.where("container_id = ? AND customer_id = ? AND active = 1", container.id, params[:customer_id]) %>
			<% end %>

			<% @assignments.each do |assignment| %>
				<%= link_to 'Print Record', document_record_shipment_url(params[:id], :assignment_id => assignment.id), class:"btn btn-success", target:"_blank" %>
				<br>
				<br>
				
				<table class="table">
					<tbody>
						<tr>
							<td style="width:15%">Customer</td>
							<td>: <strong><%= assignment.customer.name %></strong></td>
						</tr>
						<tr>
							<td style="width:15%">Assignment UID</td>
							<td>: <strong><%= assignment.uid %></strong></td>
						</tr>
					</tbody>
				</table>
				<table class="table" style="margin-top:-15px">
					<thead class="table-secondary">
						<th style="width:20%">Detail Product</th>
						<th style="width:15%">Product/Category</th>
						<th style="width:10%">Quantity</th>
						<th style="width:10%">Unit</th>
						<th style="width:20%">Pickup Agent</th>
						<th style="width:20%">Dooring Agent</th>
					</thead>
					<tbody>
						<% @assignment_details = AssignmentDetail.where("assignment_id = ?", assignment.id) %>

						<% @assignment_details.each do |assignment_detail| %>
						<tr>
							<td><%= assignment_detail.description %></td>
							<td><%= assignment_detail.customer_product.name %></td>
							<td><%= assignment_detail.quantity %></td>
							<td>
								<% if assignment_detail.unit == "UOM" %>
									<%= assignment_detail.unit_description %>
								<% else %>
									<%= assignment_detail.unit %>
								<% end %>
							</td>
							<td><%= assignment_detail.assignment.agent.name %></td>
							<td><%= Agent.find(assignment_detail.assignment.dooring_agent_id).name %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<br>
				<hr>
			<% end %>
		</div>
	</div>

	<br>
	<br>
<% end %>

