<h4>Shipments</h4>

<div class="row">
  <div class="col-md-6">
    <%= render 'searchdateform'%>
  </div>
  <div class="col-md-6">
    <%= render 'searchform'%>
  </div>
</div>

<br>
<hr>


<br>
<%= link_to 'New Shipment', new_shipment_path, class:"btn btn-primary" %>

<br>
<br>

  <% if !params[:keyword].nil? %>
    <h6>Searching for keyword <strong>"<%= params[:keyword] %>"</strong></h6>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="informationbox1">
        <h4 class="textbox1" style="margin-bottom: 35px;"><%= @shipments.count %></h4>
        <h6 class="textbox1">Shipment(s)</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="informationbox2"></div>
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @shipmentsongoing.count %></h4>        
        <h6 class="textbox2">Ready to Depart</h6>
    </div>
    <div class="col-md-2">
      <div class="informationbox2"></div>
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @shipmentsonwater.count %></h4>        
        <h6 class="textbox2">On Board</h6>
    </div>
    <div class="col-md-2">
      <div class="informationbox2"></div>        
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @shipmentsfinished.count %></h4>
        <h6 class="textbox2">Finished Shipment</h6>
    </div>
  </div>

  <br>

  <div class="table-responsive">
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th>#</th>
        <th style="width:15%;">UID</th>
        <th>Shipname</th>
        <th>Voyage</th>
        <th>Created</th>
        <th>Estimated Departure</th>
        <th>Estimated Arrival</th>
        <th>Actual Departure</th>
        <th>Actual Arrival</th>
        <th>POL</th>
        <th>POD</th>
        <th>Total Container</th>
        <th></th>
      </tr>
    </thead>

    <% counter = 0 %>

    <tbody>
      <% @shipments.each do |shipment| %>
        <tr>
          <td><%= counter = counter + 1 %></td>
          <td><%= shipment.uid %></td>
          <td><%= shipment.shipname %></td>
          <td><%= shipment.voyage %></td>
          <td><%= shipment.created_at.in_time_zone("Jakarta").to_s(:long) %></td>
          <td>
          <% if !shipment.estimateddeparture.nil? %>
            <%= shipment.estimateddeparture.to_s(:long)  %>
          <% end %>
          </td>
          <td>
          <% if !shipment.estimatedarrival.nil? %>
            <%= shipment.estimatedarrival.to_s(:long)  %>
          <% end %>
          </td>
          <td>
          <% if !shipment.actualdeparture.nil? %>
            <%= shipment.actualdeparture.to_s(:long)  %>
          <% end %>
          </td>
          <td>
          <% if !shipment.actualarrival.nil? %>
            <%= shipment.actualarrival.to_s(:long)  %>
          <% end %>
          </td>
          <td><%= Location.find(shipment.pol).name %></td>
          <td><%= Location.find(shipment.pod).name %></td>
          <td><%= Container.where("shipment_id = ?",shipment.id).count %></td>
          <td style="width:5%; white-space:nowrap">
            <%= link_to 'Overview', shipment_path(shipment), class:"btn btn-success" %>
            <%= link_to 'Edit', edit_shipment_path(shipment), class:"btn btn-info" %>
            <%= link_to 'X', shipment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

<br>
<br>

