<h4>Shipments</h4>

<div class="row">
  <div class="col-md-6">
    <%= render 'searchdateform'%>
  </div>
  <div class="col-md-6">
    <%= render 'searchform'%>
  </div>
</div>

<br>
<hr>


<br>
<%= link_to 'New Shipment', new_shipment_path, class:"btn btn-primary" %>

<br>
<br>

  <% if !params[:keyword].nil? %>
    <h6>Searching for keyword <strong>"<%= params[:keyword] %>"</strong></h6>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="informationbox1">
        <h4 class="textbox1" style="margin-bottom: 35px;"><%= @shipments.count %></h4>
        <h6 class="textbox1">Shipment(s)</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="informationbox2"></div>
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @shipmentsongoing.count %></h4>        
        <h6 class="textbox2">Ready to Depart</h6>
    </div>
    <div class="col-md-2">
      <div class="informationbox2"></div>
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @shipmentsonwater.count %></h4>        
        <h6 class="textbox2">On Board</h6>
    </div>
    <div class="col-md-2">
      <div class="informationbox2"></div>        
        <h4 class="textbox2" style="margin-bottom: 35px;"><%= @shipmentsfinished.count %></h4>
        <h6 class="textbox2">Finished Shipment</h6>
    </div>
  </div>

  <br>

  <div class="table-responsive">
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th>#</th>
        <th style="width:15%;">UID</th>
        <th>Shipname</th>
        <th>Voyage</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Estimated Departure</th>
        <th>Estimated Arrival</th>
        <th>Actual Departure</th>
        <th>Actual Arrival</th>
        <th>POL</th>
        <th>POD</th>
        <th>Total Container</th>
        <th>Modified</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% counter = 0 %>

    <tbody>
      <% @shipments.each do |shipment| %>
        <tr>
          <td><%= counter = counter + 1 %></td>
          <td><%= shipment.uid %></td>
          <td><%= shipment.shipname %></td>
          <td><%= shipment.voyage %></td>
          <td><%= shipment.created_at.in_time_zone("Jakarta").to_s(:long) %></td>
          <td>
            <% if shipment.user_id !=0 && !shipment.user_id.nil? %>
              <font style="text-transform: capitalize;"><%= User.find(shipment.user_id).name %></font>
            <% else %>
              -
            <% end %>
          </td>
          <td>
          <% if !shipment.estimateddeparture.nil? %>
            <%= shipment.estimateddeparture.to_s(:long)  %>
          <% end %>
          </td>
          <td>
          <% if !shipment.estimatedarrival.nil? %>
            <%= shipment.estimatedarrival.to_s(:long)  %>
          <% end %>
          </td>
          <td>
          <% if !shipment.actualdeparture.nil? %>
            <%= shipment.actualdeparture.to_s(:long)  %>
          <% end %>
          </td>
          <td>
          <% if !shipment.actualarrival.nil? %>
            <%= shipment.actualarrival.to_s(:long)  %>
          <% end %>
          </td>
          <td><%= Location.find(shipment.pol).name %></td>
          <td><%= Location.find(shipment.pod).name %></td>
          <td><%= Container.where("shipment_id = ?",shipment.id).count %></td>
          <td style="width:5%; white-space:nowrap">
            <% @shipment_histories = ShipmentHistory.where("shipment_to_id = ?", shipment.id) %>
            <% if @shipment_histories.count > 0 %>
              <button class="btn" style="background-color: #007bff; color:white;" data-toggle="modal", data-target="#historyModal<%= shipment.id.to_s %>">History</button>

              <!-- Modal -->
              <div id="historyModal<%= shipment.id.to_s %>" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title">History - <%= shipment.uid.to_s %></h6>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                        <% history = ShipmentHistory.where("shipment_to_id = ?", shipment.id) %>
                        <% history.each do |history| %>
                          <strong><%= history.description %></strong>
                          <br>
                          <br>
                          <center>
                            <% if Shipment.where("id = ?",history.shipment_from_id).count == 0 %>
                              <i>Deleted Shipment</i>
                            <% else %>
                              <%= simple_format check_history(history.shipment_from_id) %>
                              <% if(check_history(history.shipment_from_id)!="") %>
                                <br>
                              <% end %>
                              <%= Shipment.find(history.shipment_from_id).uid %> - <%= Shipment.find(history.shipment_from_id).shipname %>, <%= Shipment.find(history.shipment_from_id).voyage %>
                            <% end %>
                          <br><strong>to</strong><br>
                            <% if Shipment.where("id = ?",history.shipment_to_id).count == 0 %>
                                <i>Deleted Shipment</i>
                            <% else %>
                              <%= Shipment.find(history.shipment_to_id).uid %> - <%= Shipment.find(history.shipment_to_id).shipname %>, <%= Shipment.find(history.shipment_to_id).voyage %>
                            <% end %>
                          </center>
                          <hr>
                        <% end %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            <% end %>
          </td>
          <td style="width:5%; white-space:nowrap">
            <% @shipment_histories = ShipmentHistory.where("shipment_from_id = ?", shipment.id) %>
            <% if @shipment_histories.count > 0 %>
              <% @shipment_histories.each do |history| %>
                <strong><%= "Merged to "+Shipment.find(history.shipment_to_id).shipname.to_s+" "+Shipment.find(history.shipment_to_id).voyage.to_s %></strong>
                <br>
              <% end %>
            <% else %>
              <% if shipment.actualarrival.nil? %>
                <%= link_to 'Merge', merge_shipments_path(:target => shipment.id), class:"btn btn-primary btn-block" %>
              <% end %>
            <% end %>
          </td>
          <td style="width:5%; white-space:nowrap">
            <%= link_to 'Rename', rename_shipments_path(:target => shipment.id), class:"btn btn-dark", "data-toggle" => "modal", 'data-target' => '#renameModal'+shipment.id.to_s %>
            
            <!-- Modal -->
            <div id="renameModal<%= shipment.id.to_s %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Rename Form - <%= shipment.uid.to_s %></h6>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <%= form_with url: rename_shipments_path, method: :get do |form| %>
                        <%= form.text_field :id, type:'hidden', value:shipment.id %> 
                        <div class="form-group">
                          <%= form.label :uid, "UID" %>
                          <%= form.text_field :uid, class:"form-control", readonly:"true", value:"JST-"+DateTime.now.strftime("%Y%m%d%H%M") %> 
                        </div>
                        <div class="form-group">
                          <%= form.label :shipname, "Shipname" %>
                          <%= form.text_field :shipname, class:"form-control", autocomplete:"off", autofocus:"true" %> 
                        </div>
                        <div class="form-group">
                          <%= form.label :voyage, "Voyage" %>
                          <%= form.text_field :voyage, class:"form-control", autocomplete:"off" %>
                        </div>
                        <div class="form-group">
                          <%= form.label :pol, "POL" %>
                          <%= form.text_field :pol, class:"form-control", autocomplete:"off", readonly:"true", value:Location.find(shipment.pol).name %>
                        </div>
                        <div class="form-group">
                          <%= form.label :pod, "POD" %>
                          <%= form.text_field :pod, class:"form-control", autocomplete:"off", readonly:"true", value:Location.find(shipment.pod).name %>
                        </div>
                        <br>
                    </div>
                  </div>
                  <div class="modal-footer">
                        <%= form.submit "Rename", class:"btn btn-primary" %>
                      <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <%= link_to 'Overview', shipment_path(shipment), class:"btn btn-success" %>
            <%= link_to 'Edit', edit_shipment_path(shipment), class:"btn btn-info" %>
            <%= link_to 'X', shipment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

<br>
<br>

