<%= link_to 'Back', shipments_path, class:"btn btn-secondary" %>
<br>
<br>

<h3><strong><%= @shipment.uid %></strong></h3>
<h3><%= @shipment.shipname %> <%= @shipment.voyage %></h3>
<h5>
  <% if @shipment.actualdeparture.nil? %>
    (Not Yet Departed)
  <% else %>
    <%= @shipment.actualdeparture %>
  <% end %>
   - 
  <% if @shipment.actualarrival.nil? %>
    (Not Yet Arrived)
  <% else %>
    <%= @shipment.actualarrival %>
  <% end %>
</h5>

<br>
<br>

<h5>Customer List (<%= @customers.count %>)</h5>
<% @customers.each do |customer| %>
  <p><%= customer.name %></p>
<% end %>

<table class="table">
  
</table>