<%= link_to 'Back', shipments_path, class:"btn btn-secondary" %>
<br>
<br>

<h4><sthong><%= @shipment.uid %></sthong></h4>
<h4><%= @shipment.shipname %> <%= @shipment.voyage %></h4>
<h5>
  <% if @shipment.actualdeparture.nil? %>
    (Not Yet Departed)
  <% else %>
    <%= @shipment.actualdeparture %>
  <% end %>
   - 
  <% if @shipment.actualarrival.nil? %>
    (Not Yet Arrived)
  <% else %>
    <%= @shipment.actualarrival %>
  <% end %>
</h5>
<%= link_to 'Complete Packinglist', document_packing_list_shipment_url(params[:id]), class:"btn btn-danger", target:"_blank" %>

<br>
<br>
<br>

<div class="row">
    <div class="col-md-4">
    <h5 style="margin:20px">Container List (<%= @container.count %>)</h5>
    <table class="table">
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th>Name</th>
          <th>Assignment</th>
          <th style="width:5%"></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 0 %>
        <% @container.each do |container| %>
          <tr>
            <% counter = counter+1 %>
            <td><strong><%= counter %></strong></td>
            <td><strong><%= container.number %></strong></td>
            <td><strong>Total : <%= Assignment.where("container_id = ?",container.id).count %></strong></td>
            <td><%= link_to 'Packinglist', document_packing_list_shipment_url(params[:id], :container_id => container.id), class:"btn btn-primary", target:"_blank" %></td>
          </tr>

          <% @assignments = Assignment.select(:customer_id).where("container_id = ?", container.id).group("customer_id") %>
          <% @assignments.each do |assignment| %>
          <tr class="table-active">
            <td></td>
            <td><%= Customer.find(assignment.customer_id).name %></td>
            <td><%= Assignment.where("container_id = ? AND customer_id = ?", container.id, assignment.customer_id).count %></td>
            <td><%= link_to 'Record', document_packing_list_shipment_url(params[:id], :customer_id => assignment.customer_id, :container_id => container.id), class:"btn btn-success", target:"_blank" %></td>
          </tr>
          <% end %>

        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h5 style="margin:20px">Customer List (<%= @customer_array.count %>)</h5>

    <table class="table">
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th>Name</th>
          <th style="width:5%"></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 0 %>
        <% @customer_array.each do |customer| %>
          <tr>
            <% counter = counter+1 %>
            <td><%= counter %></td>
            <td><%= Customer.find(customer).name %></td>
            <td style="white-space: nowrap;"><%= link_to 'Customer Packinglist', document_customer_packing_list_shipment_url(params[:id], :customer_id => customer), class:"btn btn-info", target:"_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h5 style="margin:20px">Dooring Agent List (<%= @dooring_array.count %>)</h5>

    <table class="table">
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th>Name</th>
          <th style="width:5%"></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 0 %>
        <% @dooring_array.each do |dooring| %>
          <tr>
            <% counter = counter+1 %>
            <td><%= counter %></td>
            <td><%= Agent.find(dooring).name %></td>
            <td><%= link_to 'Record', document_packing_list_shipment_url(params[:id]), class:"btn btn-success", target:"_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>