<p id="notice"><%= notice %></p>

<p>
  <strong>Per20ft:</strong>
  <%= @customer_product_pricelist.per20ft %>
</p>

<p>
  <strong>Per40ft:</strong>
  <%= @customer_product_pricelist.per40ft %>
</p>

<p>
  <strong>Per20od:</strong>
  <%= @customer_product_pricelist.per20od %>
</p>

<p>
  <strong>Per21ft:</strong>
  <%= @customer_product_pricelist.per21ft %>
</p>

<p>
  <strong>Per20fr:</strong>
  <%= @customer_product_pricelist.per20fr %>
</p>

<p>
  <strong>Per40fr:</strong>
  <%= @customer_product_pricelist.per40fr %>
</p>

<p>
  <strong>Ppncategory:</strong>
  <%= @customer_product_pricelist.ppncategory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @customer_product_pricelist.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer_product_pricelist.description %>
</p>

<%= link_to 'Edit', edit_customer_product_pricelist_path(@customer_product_pricelist) %> |
<%= link_to 'Back', customer_product_pricelists_path %>
