<h4>Locations</h4>

<br>

<%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>

<br>
<br>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width:5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td style="white-space: nowrap;">
          <%= link_to 'Show', location, class:"btn btn-success" %>
          <%= link_to 'Edit', edit_location_path(location), class:"btn btn-info" %>
          <%= link_to 'X', location, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
